header {
  color: #fff;
  min-height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url(../img/office-yellow.jpg) no-repeat center center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: relative;
}

html.webp header {
  background: url(../img/webp/office-yellow.webp) no-repeat center center;
  background-size: cover;
}

header .to-smart-tashkent {
  z-index: 50;
  position: absolute;
  bottom: 10vh;
  right: 10vh;
  width: 250px;
  height: 250px;
  background-color: #FDCA00;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  cursor: pointer;
}

header .to-smart-tashkent img {
  width: 70%;
}

@media screen and (max-width: 1024px) {
  header .to-smart-tashkent {
    width: 170px;
    height: 170px;
  }
}

@media screen and (max-width: 768px) {
  header .to-smart-tashkent {
    width: 100px;
    height: 100px;
    right: 5vh;
    bottom: 5vh;
  }
}

@media screen and (max-width: 576px) {
  header .to-smart-tashkent {
    width: 80px;
    height: 80px;
  }
}

header #particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 40;
}

header .header-content {
  position: relative;
  z-index: 50;
}

header .btn-primary {
  background: #FDCA00;
}

@media screen and (max-width: 768px) {
  header {
    min-height: 60vh;
  }
}

canvas {
  display: block;
}

.smart-tashkent-modal .modal-content {
  width: 1100px;
}

.smart-tashkent-modal .title-secondary {
  margin: 0;
  margin-bottom: 10px;
}

.smart-tashkent-modal .form-smart-tashkent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .smart-tashkent-modal .form-smart-tashkent {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.smart-tashkent-modal .form-smart-tashkent input {
  width: 35%;
  margin-bottom: 0;
  padding: 8px 10px;
  height: auto;
}

@media screen and (max-width: 768px) {
  .smart-tashkent-modal .form-smart-tashkent input {
    width: 100%;
    margin-bottom: 5px;
  }
}

.smart-tashkent-modal .form-smart-tashkent button {
  height: 100%;
  padding: 10px 10px;
  min-width: auto;
  font-size: 18px;
}

.smart-tashkent-modal .row-inner .left,
.smart-tashkent-modal .row-inner .right {
  width: 50%;
}

@media screen and (max-width: 768px) {
  .smart-tashkent-modal .row-inner .left,
  .smart-tashkent-modal .row-inner .right {
    width: 100%;
  }
}

.smart-tashkent-modal .row-inner .left {
  text-align: left;
}

@media screen and (max-width: 768px) {
  .smart-tashkent-modal .row-inner .left p {
    font-size: 13px;
    max-height: 40vh;
    overflow-y: scroll;
    margin: 10px 0;
  }
}

.smart-tashkent-modal .row-inner .gallery {
  position: relative;
  height: 100%;
}

.smart-tashkent-modal .row-inner .gallery img {
  position: absolute;
  width: 250px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

@media screen and (max-width: 1024px) {
  .smart-tashkent-modal .row-inner .gallery img {
    width: 200px;
  }
}

.smart-tashkent-modal .row-inner .gallery:hover .img-1 {
  -webkit-transform: translate(calc(-50% - 75px), calc(-50% - -45px)) scale(0.9);
          transform: translate(calc(-50% - 75px), calc(-50% - -45px)) scale(0.9);
}

.smart-tashkent-modal .row-inner .gallery:hover .img-2 {
  -webkit-transform: translate(calc(-50% - 0px), calc(-50% - 67px)) scale(0.9);
          transform: translate(calc(-50% - 0px), calc(-50% - 67px)) scale(0.9);
}

.smart-tashkent-modal .row-inner .gallery:hover .img-3 {
  -webkit-transform: translate(calc(-50% - -75px), calc(-50% - -45px)) scale(0.9);
          transform: translate(calc(-50% - -75px), calc(-50% - -45px)) scale(0.9);
}

.smart-tashkent-modal .row-inner .gallery .img-1 {
  -webkit-transform: translate(calc(-50% - 75px), calc(-50% - -45px));
          transform: translate(calc(-50% - 75px), calc(-50% - -45px));
}

.smart-tashkent-modal .row-inner .gallery .img-1:hover {
  -webkit-transform: translate(calc(-50% - 75px), calc(-50% - -45px)) scale(1.1);
          transform: translate(calc(-50% - 75px), calc(-50% - -45px)) scale(1.1);
  z-index: 111;
}

.smart-tashkent-modal .row-inner .gallery .img-2 {
  -webkit-transform: translate(calc(-50% - 0px), calc(-50% - 67px));
          transform: translate(calc(-50% - 0px), calc(-50% - 67px));
}

.smart-tashkent-modal .row-inner .gallery .img-2:hover {
  -webkit-transform: translate(calc(-50% - 0px), calc(-50% - 67px)) scale(1.1);
          transform: translate(calc(-50% - 0px), calc(-50% - 67px)) scale(1.1);
  z-index: 111;
}

.smart-tashkent-modal .row-inner .gallery .img-3 {
  -webkit-transform: translate(calc(-50% - -75px), calc(-50% - -45px));
          transform: translate(calc(-50% - -75px), calc(-50% - -45px));
}

.smart-tashkent-modal .row-inner .gallery .img-3:hover {
  -webkit-transform: translate(calc(-50% - -75px), calc(-50% - -45px)) scale(1.1);
          transform: translate(calc(-50% - -75px), calc(-50% - -45px)) scale(1.1);
  z-index: 111;
}

.page-title {
  font-size: 35px;
  text-align: center;
  max-width: 90% !important;
  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .page-title {
    font-size: 40px;
    width: 500px;
  }
}

@media screen and (max-width: 576px) {
  .page-title {
    font-size: 30px;
    width: auto;
  }
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 10vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  z-index: 1111;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.navbar-contacts {
  text-align: center;
  max-width: 33.333%;
}

@media screen and (max-width: 768px) {
  .navbar-contacts {
    text-align: right;
  }
}

@media screen and (max-width: 576px) {
  .navbar-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 576px) {
  .navbar-contacts .telegram {
    margin-right: 5px;
  }
}

.navbar-contacts .telegram a {
  font-size: 15px;
  padding: 4px 6px;
  background-color: #0dace8;
  color: #fff;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  border: 2px solid #0dace8;
  border-radius: 3px;
}

@media screen and (max-width: 576px) {
  .navbar-contacts .telegram a {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 33px;
    height: 33px;
    font-size: 18px;
  }
}

.navbar-contacts .telegram a:hover {
  background-color: #fff;
  color: #0dace8;
}

.navbar-contacts .phone-call {
  margin-bottom: 3px;
}

@media screen and (max-width: 576px) {
  .navbar-contacts .phone-call {
    margin-bottom: 0;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.navbar-contacts .phone-call a {
  font-size: 16px;
  color: #000;
  -webkit-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  border: 2px solid #000;
  padding: 2px 4px;
  display: inline-block;
  margin-bottom: 3px;
}

@media screen and (max-width: 768px) {
  .navbar-contacts .phone-call a {
    font-size: 17px;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 576px) {
  .navbar-contacts .phone-call a {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 33px;
    height: 33px;
    font-size: 18px;
    border: 2px solid #fff;
    border-radius: 3px;
    color: #fff;
  }
}

.navbar-contacts .phone-call a:hover {
  text-decoration: underline;
}

.navbar.modalOpened .togglebtn .line,
.navbar.modalOpened .togglebtn .line::before,
.navbar.modalOpened .togglebtn .line::after {
  background: #fff !important;
}

.navbar.scrolled.modalOpened .togglebtn .line,
.navbar.scrolled.modalOpened .togglebtn .line::before,
.navbar.scrolled.modalOpened .togglebtn .line::after {
  background: #fff !important;
}

.navbar.scrolled {
  background: white;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
}

.navbar.scrolled .logo a,
.navbar.scrolled .navbar-contacts .phone-call a {
  color: #000;
}

.navbar.scrolled .navbar-contacts .phone-call a {
  border-color: #000;
}

.navbar.scrolled .togglebtn .line,
.navbar.scrolled .togglebtn .line::before,
.navbar.scrolled .togglebtn .line::after {
  background-color: #000 !important;
}

.navbar .logo {
  position: relative;
  min-width: 200px;
  text-align: center;
}

.navbar .logo img {
  height: 80px;
}

@media screen and (max-width: 768px) {
  .navbar .logo img {
    height: 60px;
  }
}

@media screen and (max-width: 576px) {
  .navbar .logo img {
    height: 50px;
  }
}

.navbar .logo a {
  font-size: 44px;
  color: #000;
  -webkit-transition: all 800ms ease;
  transition: all 800ms ease;
}

@media screen and (max-width: 576px) {
  .navbar .logo a {
    font-size: 27px;
  }
}

@media screen and (max-width: 576px) {
  .navbar .logo {
    min-width: auto;
  }
}

.navbar .menu {
  min-width: 200px;
}

@media screen and (max-width: 576px) {
  .navbar .menu {
    min-width: auto;
  }
}

.navbar .menu-modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #2D3136;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .menu-modal.active {
  opacity: 1;
  visibility: visible;
}

.navbar .menu-modal.active .list .item .link {
  opacity: 1;
}

.navbar .menu-modal .list .item {
  text-align: center;
}

.navbar .menu-modal .list .link {
  font-size: 48px;
  color: #fff;
  line-height: 1.6;
  cursor: pointer;
  position: relative;
  -webkit-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
  will-change: opacity;
  opacity: 0;
}

@media screen and (max-width: 768px) {
  .navbar .menu-modal .list .link {
    font-size: 40px;
  }
}

@media screen and (max-width: 576px) {
  .navbar .menu-modal .list .link {
    font-size: 30px;
  }
}

.navbar .menu-modal .list .link::before {
  content: '';
  position: absolute;
  display: block;
  height: 3px;
  bottom: -5px;
  left: 51%;
  right: 50%;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  background-color: #fff;
}

.navbar .menu-modal .list .link:hover::before {
  left: 0;
  right: 0;
}

.navbar .menu-modal .list .link.link-1 {
  -webkit-transition-delay: 100ms;
          transition-delay: 100ms;
}

.navbar .menu-modal .list .link.link-2 {
  -webkit-transition-delay: 200ms;
          transition-delay: 200ms;
}

.navbar .menu-modal .list .link.link-3 {
  -webkit-transition-delay: 300ms;
          transition-delay: 300ms;
}

.navbar .menu-modal .list .link.link-4 {
  -webkit-transition-delay: 400ms;
          transition-delay: 400ms;
}

.navbar .menu-modal .list .link.link-5 {
  -webkit-transition-delay: 500ms;
          transition-delay: 500ms;
}

.navbar .menu-toggler {
  z-index: 110;
  position: relative;
}

.navbar .menu-toggler .togglebtn {
  z-index: 2000;
  width: 4rem;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: none;
  cursor: pointer;
}

.navbar .menu-toggler .togglebtn .line {
  display: block;
  width: 1.75rem;
  height: 2px;
  background: #000;
  line-height: 1;
  position: relative;
  display: block;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  transition: transform 0.2s ease-in, background-color 0.4s ease, -webkit-transform 0.2s ease-in;
  border-radius: 5px;
}

.navbar .menu-toggler .togglebtn .line::before, .navbar .menu-toggler .togglebtn .line::after {
  content: '';
  position: absolute;
  display: block;
  width: 1.75rem;
  height: 2px;
  opacity: 1;
  background: #000;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  border-radius: 5px;
  transition: top 0.2s ease-in, opacity .2s ease-in, transform 0.2s 0.2s ease-out, background-color 0.4s ease, -webkit-transform 0.2s 0.2s ease-out;
}

.navbar .menu-toggler .togglebtn .line::before {
  top: -.5rem;
}

.navbar .menu-toggler .togglebtn .line::after {
  top: .5rem;
}

.navbar .menu-toggler .togglebtn.active .line {
  background-color: #fefefe;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  transition: transform 0.2s 0.2s ease-out, background-color 0.4s ease, -webkit-transform 0.2s 0.2s ease-out;
}

.navbar .menu-toggler .togglebtn.active .line::before {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  transition: top 0.2s ease-in, transform 0.2s 0.2s ease-out, background-color 0.4s ease, -webkit-transform 0.2s 0.2s ease-out;
}

.navbar .menu-toggler .togglebtn.active .line::after {
  top: 0;
  opacity: 0;
  -webkit-transition: top 0.2s ease-in, opacity 0.2s 0.2s ease-out, background-color 0.4s ease;
  transition: top 0.2s ease-in, opacity 0.2s 0.2s ease-out, background-color 0.4s ease;
}

.socials .insta i {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
  color: transparent;
}

.socials a {
  color: #000;
  font-weight: normal;
  margin-right: 10px;
  font-size: 27px;
  padding: .2em;
  text-align: center;
  -webkit-transition: border .3s ease;
  transition: border .3s ease;
  border-bottom: 2px solid transparent;
}

.socials a:hover {
  border-color: #000;
}

@media screen and (max-width: 768px) {
  .socials a {
    font-size: 20px;
    margin-right: 10px;
  }
}
/*# sourceMappingURL=header.css.map */